<!DOCTYPE html>
<html>
  <head>
    <title>Conversão de Moedas</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon.png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
    <script>


    function change_currency(){
      var currency = document.querySelector("#currency").value;
      var currency_destination = document.querySelector("#currency_destination").value;
      var temp = currency_destination;
      document.querySelector("#currency_destination").value = currency;
      document.querySelector("#currency").value = temp;

      convert_currency();


    }



    $("#quantity").on("input", convert_currency);

    function convert_currency(){
          $.ajax('/exchange', {
            type: 'POST',
            dataType: 'json',
            data: {
              currency: $("#currency").val(),
              currency_destination: $("#currency_destination").val(),
              quantity: $("#quantity").val()
            },
            error: function(jqXHR, textStatus, errorThrown) {
              return alert(textStatus);
            },
            success: function(data, text, jqXHR) {
              return document.getElementById('result').value = data.value;
            }
          });
          return false;
    }


    button = document.querySelector("#change_currency");
    button.addEventListener("click", change_currency);


    </script>
  </body>
</html>
